@import "color";
.home-content{
    position: absolute;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 4rem;
    top:13rem;
    left:41rem;

    > a{
        color:$red;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-top:2rem;
    height: 3rem;
    width:12rem;
    background: rgb(255, 255, 255);
    border-radius: 0.8rem;
    box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
    border: 1px solid rgb(232, 232, 232);

     &:hover{
          background-color: transparent;
          color: aliceblue;

      }
    }
}


.main-image {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    z-index: 0;
    overflow: hidden;
    display: inline-block;
  }


 @media screen and (max-width:600px){
    .home-content{
        font-size: 2rem;
        text-align: center;
        top:20rem;
        left:16rem;
        margin: auto;
        
       >a{
        margin:auto;
        margin-top: 2rem;
        
       }
    }

    .main-image {
        width: 100vh;
        height: 100vh;
        object-fit: cover;
        z-index: 0;
        overflow: hidden;
        display: inline-block;
      }
    
}  